.rounds-container {
    display: flex;
    flex-direction: right;
  }
  .rounds-container > * {
    margin-right: 30px; /* Ajoute une marge de 10 pixels à droite de chaque élément enfant */
  }

  .round {
    margin: 10px;
    padding: 10px;
  }
  